body {
    background-color: lightblue;
 }
 h1{
    text-align:center;
    padding:50px;
    background-color:white
    ;
    
}
.div p1{
    img{
        width:600px;
        height:600px;
        padding:50px;
        left:20px;
    }
}